@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-stone-50 dark:bg-slate-900;
  }

  main:has(.background-grid) {
    max-width: 100% !important;
    padding: 0 !important;
  }
}

@layer utilities {
  .items-grid {
    @apply grid w-full pt-5 pb-10 mx-auto gap-y-10 gap-x-6;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(95px, 1fr));
  }

  .items-grid-small {
    @apply grid w-full pt-5 pb-10 mx-auto gap-y-10 gap-x-6;
    grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(95px, 1fr)); */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .ring {
    --uib-size: 40px;
    --uib-speed: 2s;
    --uib-color: #6366f1;

    height: var(--uib-size);
    width: var(--uib-size);
    vertical-align: middle;
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
    @apply ring-0;
  }

  .ring circle {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes stretch {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -124px;
    }
  }
}

@layer components {
  /* Design copied from https://github.com/enjidev/enji.dev */
  .background-grid {
    @apply relative z-0 bg-slate-100;
    @apply dark:bg-[#0c1222];
    @apply flex flex-col items-center justify-center;
  }

  .background-grid::before {
    @apply bg-grid-slate-200/80 absolute inset-0 z-[-1] content-[''];
    @apply dark:bg-grid-slate-50/[.030];

    mask-image: linear-gradient(transparent, black, transparent);
  }

  .background-grid--fade-in {
    @apply bg-transparent bg-gradient-to-t from-slate-100 via-slate-100;
    @apply dark:bg-transparent dark:from-[#0c1222] dark:via-[#0c1222];
  }

  .background-grid--fade-in::before {
    @apply bg-left-bottom;

    mask-image: linear-gradient(transparent, black, black);
  }

  .background-grid--fade-out {
    @apply bg-transparent bg-gradient-to-b from-slate-100 via-slate-100;
    @apply dark:bg-transparent dark:from-[#0c1222] dark:via-[#0c1222];
  }

  .background-grid--fade-out::before {
    mask-image: linear-gradient(black, black, transparent);
  }
}
