@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-stone-50;
  }
}

@layer utilities {
  .items-grid {
    @apply grid w-full py-10 mx-auto gap-y-10 gap-x-6;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(95px, 1fr));
  }

  .items-grid-small {
    @apply grid w-full py-10 mx-auto gap-y-10 gap-x-6;
    grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(95px, 1fr)); */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
